body {
  margin-top: 7%;
  color: hsl(0, 0%, 0%);
  line-height: 1.5;
  background-image: url("choc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

main {
text-align: center;
}

tr {
  height: 30px;
  text-align: center
}

.cat1 {
height: 25px;
width: 25px;
margin-right: 5px;
}

table {
  margin-left: 41.7%;
}

/* Сайт №2 (автор) */

.autor1 {
  margin-left: 35%;
}

.ph1 {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.cat2 {
  height: 250;
  width: 250px;
  margin-left: 8%;
}

.dev {
margin-left: 13.7%;
}